$color-write: #fff;
$color-title: #000000;
$color-background: #F9FAFC;
$color-new-price: #0C2564;
$color-old-price: #BBBBBB;
$color-submit: #62C02C;
$color-label: #3C3C3C;
$color-step: #221E8A;
$color-carent: #0C2564;
$baseFontSize: 16px;